$mainColor: #1E48C1;
$gradient-text: #fff;
$light-text: #fff;
$secondary-color: #031B34;
$color-dark : #031B34;
$color-blog: #042c54;
$color-text: rgb(211, 211, 211);
$color-contrast: #30E4E5;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


