@import '../../style/variables.scss';

.possibility {
    display: flex;
    flex-direction: row;

    &-image {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 2rem;
        position: relative;

        .mobile{
            margin: 8rem 10rem;
        }

        img {
            position: absolute;
            width: 90%;
            height: 90%;
            object-fit: contain;
        }
    }
    &-content {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        
        h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: #71E5FF;
        }
        h1 {
            font-weight: 800;
            font-size: 30px;
            line-height: 45px;
            margin: 1rem 0;
            color: $light-text;
        }
        p {
            color: $light-text;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
        
            margin-bottom: 2rem;
        }
    }    
}


@media screen and (max-width: 950px) {
    .possibility {
        flex-direction: column;

        &-image {
            margin: 15rem 0;
            justify-content: center;
            
            .mobile{
                margin: 0rem;
                right: 10rem;
            }
            
            .motor{
                margin: 0rem;
                left: 10rem;
            }

            img {
                width: 35%;
                height: unset;
                margin-left: 0rem;
            }
        }
        &-content {
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .possibility {
        
        &-image {
            margin: 9rem 0;
            
            .mobile{
                right: 2rem;
            }
            
            .motor{
                left: 3rem;
            }

            img {
                width: 50%;
            }
        }
    }
}